{% extends "shablon2.html" %}

{% block title %}
    Спортсмены
{% endblock %}

{% block content %}

<div class = "card">
    <div class = "photo">

    </div>
        <img src = "../static/image/Гарри Каспаров.jpeg">
    <div class = "info">
        <h1>Гарри Каспаров</h1>
        <p>Га́рри Ки́мович Каспа́ров (фамилия при рождении Вайнште́йн; род. 13 апреля 1963[1][2][…], Баку[3]) — советский и
            российский шахматист, гроссмейстер (1980), 13-й чемпион мира, шахматный литератор и политик, часто
            признаваемый величайшим шахматистом в истории[4][5]. Заслуженный мастер спорта СССР (1985),
            чемпион СССР (1981, 1988), чемпион России (2004). Восьмикратный победитель Олимпиад: четырежды в составе
            команды СССР (1980, 1982, 1986, 1988) и четырежды в составе команды России (1992, 1994, 1996, 2002).
            Обладатель одиннадцати шахматных «Оскаров».</p>
    </div>
</div>

{% endblock %}