.card {
    width: 350px;
    height: 650px;
    background-color: lightgreen;
    border-radius: 60px;
}

.photo {
    height: 40%;
    padding: 40px;
}

.info {
    height: 40%;
    padding: 40px;
    position: relative;
    bottom: 50%;
}

img {
    height: 200px;
    position: relative;
    left: 5%;
    bottom: 45%;
    border-radius: 20px;
}

.card-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.main-title {
    text-align: center;
    font-size: 36px;
    margin-top: 20px;
    margin-bottom: 40px;
    font-family: Arial, sans-serif;
}

.card:hover {
            transform: translateY(-20px);
            box-shadow: 0 5px 10px rgba(0, 0, 0, 1);